<ion-item-sliding>
  <ion-item-options side="end">
    <ion-item-option color="primary" (click)="handleEdit()">
      <ion-icon name="pencil-outline"></ion-icon>
      Editar
    </ion-item-option>
    <ion-item-option color="danger" (click)="handleDelete()">
      <ion-icon name="trash-outline"></ion-icon>
      Eliminar
    </ion-item-option>
  </ion-item-options>

  <ion-item (click)="handleView()">
    <ion-avatar slot="start" *ngIf="categoriaInfo">
      <ion-icon [name]="categoriaInfo.icon" [style.color]="categoriaInfo.color"></ion-icon>
    </ion-avatar>

    <ion-label>
      <h2>{{ transaccion.descripcion || categoriaInfo?.label }}</h2>
      <p>{{ transaccion.fecha | dateFormat }}</p>
    </ion-label>

    <ion-badge slot="end" [color]="transaccion.tipo === 'ingreso' ? 'success' : 'danger'">
      {{ transaccion.monto | currencyFormat }}
    </ion-badge>

    <ion-thumbnail slot="end" *ngIf="transaccion.comprobante">
      <ion-img [src]="transaccion.comprobante"></ion-img>
    </ion-thumbnail>
  </ion-item>
</ion-item-sliding>
